.dealContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.dealCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0.1rem;
    padding: 1rem;
  }

.newDealBtn {
    display: flex;
    justify-content: right;
    padding-right: 2%;
  }

  Button {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
  }