.dealForm {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-group {
    width: 500px;
}

.btn-primary {
    margin-top: 2%;
    width: fit-content;
}